:root {
    --orange-brasil: #FF6B00; /* Le orange de votre maquette */
}

.text-orange { color: var(--orange-brasil) !important; }
.btn-orange {
    background-color: var(--orange-brasil);
    color: white;
    border: none;
}
.btn-orange:hover { background-color: #e66000; color: white; }

.border-orange { border-color: var(--orange-brasil) !important; }

.card { transition: transform 0.2s; }
.card:hover { transform: translateY(-5px); }

.rounded-4 { border-radius: 15px !important; }